In [1]:
import numpy as np
import pandas as pd
import collections
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1701,tt0443706,65000000,84785914,Zodiac,Jake Gyllenhaal|Robert Downey Jr.|Mark Ruffalo...,David Fincher,There's more than one way to lose your life to...,The true story of the investigation of 'The Zo...,157,Crime|Drama|Mystery|Thriller,Paramount Pictures|Warner Bros.|Phoenix Pictures,3/2/2007,7.1,2007
1466,tt0453467,75000000,180557550,DÃ©jÃ Vu,Denzel Washington|Paula Patton|Val Kilmer|Jim ...,Tony Scott,"If you think it's just a feeling, go back... a...",Called in to recover evidence in the aftermath...,126,Action|Thriller|Science Fiction,Jerry Bruckheimer Films|Scott Free Productions...,11/21/2006,6.5,2006
1432,tt0382628,30000000,25473093,Dark Water,Jennifer Connelly|John C. Reilly|Tim Roth|Doug...,Walter Salles,"This Season, The Mystery Of The Darkness Will ...",Dahlia Williams and her daughter Cecelia move ...,105,Drama|Horror|Thriller,Vertigo Entertainment|Touchstone Pictures|Post...,6/27/2005,5.2,2005
944,tt0240510,35000000,29882645,The Four Feathers,Heath Ledger|Wes Bentley|Kate Hudson|Djimon Ho...,Shekhar Kapur,Freedom. Country. Honor. Passion. To save his ...,"The story, set in 1875, follows a British offi...",132,War|Adventure|Drama|Romance,Paramount Pictures|Miramax Films|Marty Katz Pr...,9/8/2002,6.4,2002
130,tt2692250,127000000,349424282,Night at the Museum: Secret of the Tomb,Ben Stiller|Rami Malek|Rebel Wilson|Robin Will...,Shawn Levy,One Final Night to Save the Day.,When the magic powers of The Tablet of Ahkmenr...,97,Adventure|Comedy|Fantasy|Family,Twentieth Century Fox Film Corporation|1492 Pi...,12/17/2014,6.1,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# дополнительныф столбец profit = revenue-budget
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'

In [9]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768    Winnie the Pooh'

In [11]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [17]:
answers['6'] = '239    Avatar'

In [18]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '1245    The Lone Ranger'

In [20]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478'

In [22]:
len(data.query('profit >0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '599    The Dark Knight'

In [24]:
movie2008=data.query('release_year==2008' )
movie2008.original_title[movie2008.profit == movie2008.profit.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '1245    The Lone Ranger'

In [26]:
movie2012_2014=data.query('2011<release_year<2015' )
movie2012_2014.original_title[movie2012_2014.profit == movie2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama'

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [29]:
len(data[data.genres.str.contains('Action',na=False)])

582

In [30]:
len(data[data.genres.str.contains('Adventure',na=False)])

415

In [31]:
len(data[data.genres.str.contains('Drama',na=False)])

782

In [32]:
len(data[data.genres.str.contains('Comedy',na=False)])

683

In [33]:
len(data[data.genres.str.contains('Thriller',na=False)])

596

ВАРИАНТ 2

In [34]:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

r=collections.Counter()
for category in data['genres']:
    for genre in category:
        r[genre]+=1
print(r)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
answers['12'] = 'Drama'

In [36]:
data_p=data.query('profit >0')

r=collections.Counter()
for category in data_p['genres']:
    for genre in category:
        r[genre]+=1
print(r)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [37]:
answers['13']='Peter Jackson'

In [38]:
dir_revenue = data.groupby(['director']).sum()
dir_revenue[dir_revenue['revenue']==dir_revenue['revenue'].max()]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
answers['14'] = 'Robert Rodriguez 9'

In [40]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.genres.str.contains('Action')]
collections.Counter(data2['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
answers['15'] = '970       Chris Hemsworth'

In [42]:
# Фомируем списки в столбце 'cast'
data.cast = data.cast.apply(lambda x: x.split('|'))

# Выбираем строки с 2012 годом, разрываем таблицу по столбцу  и выбираем фильмы с актерами по максимальным сборам.
data_2012=data[data.release_year == 2012]
data_2012ex=data_2012.explode('cast')
data_2012ex['cast'][data_2012ex.revenue == data_2012ex.revenue.max()]

970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
answers['16'] = 'Matt Damon'

In [44]:
data = pd.read_csv('movie_bd_v5.csv')

# Фомируем списки в столбце 'cast'
data.cast = data.cast.apply(lambda x: x.split('|'))

# Формируем новую таблицу с бюджетами фильмов выше среднего.
data_budg = data[data.budget>=data.budget.mean()]

# Разрываем таблицу по столбцу 'cast' и считаем количество фильмов.
data_budg_ex= data_budg.explode('cast')
data_budg_ex['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Jeremy Irvine         1
Tilda Swinton         1
Roscoe Lee Browne     1
Steve Blum            1
Lily Tomlin           1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
answers['17'] = 'Action'

In [46]:
data = pd.read_csv('movie_bd_v5.csv')

# Формируем списки в столбцах 'cast'и 'genres'
data.cast = data.cast.apply(lambda x: x.split('|'))
data.genres = data.genres.apply(lambda x: x.split('|'))

# Разрываем таблицу по столбцу 'cast', и выбираем в ней Николаса Кейджа.
data_exp= data.explode('cast')
data_cage = data_exp[data_exp.cast == 'Nicolas Cage']

# Разрываем полученную таблицу по столбцу'genres'  и считаем количество жанров.
data_cage1 = data_cage.explode('genres')
data_cage1['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answers['18'] = 'K-19: The Widowmaker'

In [48]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

# Формируем списки из значений столбца 'production_companies'
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))

# Разрываем таблицу по столбцу 'production_companies'
data_comp_ex = data.explode('production_companies')

# Выбираем компанию 'Paramount Pictures' и ее фильм с минимальным 'profit'
data_comp_ex1 = data_comp_ex[data_comp_ex.production_companies == 'Paramount Pictures']
data_comp_ex1['original_title'][data_comp_ex1['profit'] == data_comp_ex1['profit'].min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = '2015'

In [50]:
# Формируем сводную таблицу кассовых сборов фильмов от года
df_pivot= data.pivot_table( index = 'release_year', values = 'revenue', aggfunc = 'sum')
df_pivot.index[df_pivot.revenue == df_pivot.revenue.max()]

Int64Index([2015], dtype='int64', name='release_year')

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20'] = '2014'

In [52]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

# Формируем новую таблицу только с 'Warner Bros'
data_warner = data[data.production_companies.str.contains('Warner Bros')]

# Формируем сводную таблицу прибыльности фильмов от года
data_year = data_warner.pivot_table(index ='release_year',values = 'profit', aggfunc='sum')
data_year.index[data_year.profit == data_year.profit.max()]

Int64Index([2014], dtype='int64', name='release_year')

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21'] = '9 - сентябрь'

In [54]:
def sort(row):
    '''Функция принимает значение столбца 'release_date' и возвращает номер месяца'''
    k=row['release_date']
    k1=k.split('/')
    month=int(k1[0])
    return month   

data = pd.read_csv('movie_bd_v5.csv')
data.apply(sort, axis=1).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = '450'

In [56]:

data= pd.read_csv('movie_bd_v5.csv')

summer = data.apply(sort, axis=1).value_counts()
summer_films= summer[6]+summer[7]+summer[8] # Считаем сколько летних фильмов.
summer_films

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers['23'] = 'Peter Jackson'

In [58]:
def sort(row):
    '''Функция принимает значение столбца 'release_date' и возвращает номер месяца'''
    k=row['release_date']
    k1=k.split(',')
    month=int(k1[0])
    return month 


def winter(row):
    ''' Функция принимает значение столбца  и решает зимний он или нет, если зимний возвращает 1, если нет 0'''
    if row['month'] == 12 or row['month'] == 1 or row['month'] ==2:
        month =1
    else:
        month =0
    return month


data= pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))# Превращаем значения столбца в списки
data_expl = data.explode('director')

# Выделяем из столбца с датой месяц и формируем новый столбец 
data_expl.release_date = data_expl.release_date.apply(lambda x: x.replace('/',','))
data_expl['month'] = data_expl.apply(sort, axis =1 )

# Выясняем сколько рабочих зимних месяцев у каждого режиссера:
data_expl['month'] = data_expl.apply(winter, axis =1)
data_expl1=data_expl.query('month ==1')
data_expl1['director'].value_counts()

Peter Jackson            7
Clint Eastwood           6
Steven Soderbergh        6
Nancy Meyers             4
Shawn Levy               4
                        ..
Jonathan van Tulleken    1
Xavier Palud             1
John Hamburg             1
Carl Rinsch              1
Malcolm D. Lee           1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = 'Four By Two Productions'

In [60]:
def len_title(row):
    '''Функция принимает значение из столбца 'original_title', убирает пробелы и возвращает количество символов в строке'''
    word=row['original_title'].replace(' ','')
    l=len(word)
    return l

data= pd.read_csv('movie_bd_v5.csv')
data['len_title'] = data.apply(len_title, axis =1)
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))#Превращаем значения столбца в списки
data_expl = data.explode('production_companies')
data_expl.production_companies[data_expl.len_title ==data_expl.len_title.max()]

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

In [61]:
# ВАРИАНТ2
def func_len(row):
    '''Функция принимает значение из столбца 'original_title',  и возвращает количество символов в строке'''
    k = str(row['original_title'])
    l = len(k)
    return l


data= pd.read_csv('movie_bd_v5.csv')
data['len_title1'] = data.apply(func_len, axis =1)
print(data['production_companies'][data.len_title1==data.len_title1.max()])

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
answers['25'] = 'Midnight Picture Show'

In [63]:
def len_ov(row):
    '''Функция принимает значение из столбца 'overview', и возвращает количество слов в строке'''
    l=len(row['overview'].split())
    return l


data= pd.read_csv('movie_bd_v5.csv')
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))# Превращем названия компаний в списки 
data_expl = data.explode('production_companies')# Разрываем таблицу по столбцу'production_companies' , теперь у каждой компании есть свои признаки
data_expl['len_overview'] = data.apply(len_ov,axis=1)
comp_mean =data_expl.pivot_table(index='production_companies',values='len_overview',aggfunc='mean')# Формируем новую таблицу со средними длинами названий.
df_sorted = comp_mean.sort_values('len_overview', ascending=False)
df_sorted

                                       len_overview
production_companies
Midnight Picture Show                         175.0
Room 9 Entertainment                          161.0
Heineken Branded Entertainment                159.0
98 MPH Productions                            159.0
Brookwell-McNamara Entertainment              156.0
...                                             ...
Henceforth                                     13.0
Our Stories Films                              13.0
London Boulevard                               13.0
Motion Picture Corporation of America          11.0
Empire Pictures                                11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [65]:
def count2(title):
    '''Функция принимает значение из столбца 'original_title' отсортированной таблицы.
    Сравнивает его с введенным с клавиатуры списком фильмов и выдает 1 если значения совпадают.'''
    for i in range(0,len_films):
        films1 = films[i].strip()
        if title == films1:
            return 1
        
    return 0

data= pd.read_csv('movie_bd_v5.csv')

# Формируем таблицу фильмов, которые входят в 1% лучших по рейтингу, используя квантилли
data2 = data.sort_values('vote_average')[['original_title', 'vote_average']]
data3=data2.query('vote_average >= vote_average.quantile(0.99)')
    

k=input('Введите названия фильмов для проверки: ')

# Узнаем количество фильмов введеных с клавиатуры:
films=k.split(',')
len_films = len(films)

# Формируем переменную где записана встречаемость введенных названий в 1% лучших по рейтингу фильмов
films_in_table= data3['original_title'].apply(count2)

# Проверяем, если все введенные с клавиатуры фильмы присутствуют в таблице, и выводим результат
sum_data = sum(films_in_table)
if sum_data == len_films:
    print(f'Фильмы {k}, - входят в один процент лучших по рейтингу.')
else:
    print(f'Фильмы {k}, - не входят в один процент лучших по рейтингу.')

# Фильмы для проверки: Inside Out, The Dark Knight, 12 Years a Slave
                    # BloodRayne, The Adventures of Rocky & Bullwinkle

Введите названия фильмов для проверки: Inside Out, The Dark Knight, 12 Years a Slave
Фильмы Inside Out, The Dark Knight, 12 Years a Slave, - входят в один процент лучших по рейтингу.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [67]:
data= pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|')) # Формируем в ячейках столбца 'cast' списки актеров
data2= data[['cast','original_title']] # Избавляемся от ненужных для решения столбцов.

def count_j(row):
    '''Функция принимает значение из столбца 'cast' сравнивает его с введенными с клавиатуры актерами и выдает  1 или 0'''
    for name in row['cast']:
        if name2   in row['cast'] and name3 in row['cast']:
            return 1
    return 0


names = input('Введите пару актеров: ')
# Выделяем имена актеров в отдельные переменные, избавляемся от возможных пробелов на концах.
names1= names.split('&')
name2=names1[0].strip()
name3=names1[1].strip()


# Вычисляем сколько раз пара актров играет в одном фильме.
pair=sum(data2.apply(count_j, axis=1))
print(f' Актеры {names} вместе снимаются в фильмах в фильмах {pair} раз.' )

#Пары для проверки: Daniel Radcliffe & Rupert Grint, Adam Sandler & Kevin James

Введите пару актеров: Daniel Radcliffe & Rupert Grint
 Актеры Daniel Radcliffe & Rupert Grint вместе снимаются в фильмах в фильмах 8 раз.

ВАРИАНТ 2

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez 9',
 '15': '970       Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9 - сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)

27